* {
  margin: 0;
}

body {
  margin: 0;
  background-color: hsla(0, 0%, 100%, 0.75);
}

@font-face {
  font-family: 'LexendDeca';
  src: local('LexendDeca'),
    url('./assets/Fonts/Lexend_Deca/LexendDeca-Regular.ttf') format('truetype');
  /* font-weight: bold; */
}

@font-face {
  font-family: 'BigShouldersDisplay-Bold';
  src: local('BigShouldersDisplay-Bold'),
    url('./assets/Fonts/BigShouldersDisplay/BigShouldersDisplay-Bold.ttf')
      format('truetype');
  /* font-weight: bold; */
}
